{% extends "podomarket_base/base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block title %}{{ profile_user.nickname }} | 포도마켓{% endblock title %}

{% block content %}
<div class="podo-card profile-header">
  <div class="profile-pic" style="background-image: url('#')"></div>
  <div class="info">
    <div class="nickname">{{ profile_user.nickname }}</div>
    <ul class="podo-links">
      <li>kakaouser1</li>
      <li class="divider"></li>
      <li>{{profile_user.address}}</li>
    </ul>
  </div>
</div>

<div class="post-list">
  <div class="header">
    <h2>{{profile_user.nickname}}님의 최신글</h2>
    <a class="link" href="#">
      <span>게시글 전체보기</span>
      <img class="triangle-icon" src="{% static 'podomarket/icons/ic-triangle.svg' %}" alt="triangle icon">
    </a>
  </div>
  <div class="posts">
    {% comment %} 게시글 목록 {% endcomment %}
    <div class="podo-card post">
      <img class="thumb" src="#" alt="썸네일 이미지">
      <div class="content">
        <h2 class="title">게시글 제목1</h2>
        <div class="price-and-status">
          <span class="price">
            10,000원
          </span>
        </div>
        <div class="meta">
          2021.05.11&nbsp;|&nbsp;서울시 용산구
        </div>
        <a class="podo-button primary button" href="#">자세히보기</a>
      </div>
    </div>
    <div class="podo-card post">
      <img class="thumb" src="#" alt="썸네일 이미지">
      <div class="content">
        <h2 class="title">게시글 제목2</h2>
        <div class="price-and-status">
          <span class="price">
            10,000원
          </span>
        </div>
        <div class="meta">
          2021.05.11&nbsp;|&nbsp;서울시 용산구
        </div>
        <a class="podo-button primary button" href="#">자세히보기</a>
      </div>
    </div>
    {% comment %} 아직 게시글이 없을 경우
      <p class="empty">등록된 게시글이 없어요 :(</p>
    {% endcomment %}
  </div>
</div>
{% endblock content %}
